[submodule "vim-fugitive"]
    path = bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
    ignore = untracked
[submodule "zencoding"]
    path = bundle/zencoding
    url = https://github.com/mattn/zencoding-vim.git
    ignore = untracked
[submodule "Mark"]
    path = bundle/Mark
    url = git://github.com/vim-scripts/Mark--Karkat.git
    ignore = untracked
[submodule "session"]
    path = bundle/session
    url = git://github.com/vim-scripts/session.vim--Odding.git
    ignore = untracked
[submodule "vim-nerdtree-tabs"]
    path = bundle/vim-nerdtree-tabs
    url = git://github.com/jistr/vim-nerdtree-tabs.git
    ignore = untracked
[submodule "nerdtree"]
    path = bundle/nerdtree
    url = git://github.com/scrooloose/nerdtree.git
    ignore = untracked
[submodule "bundle/syntastic"]
    path = bundle/syntastic
    url = git://github.com/scrooloose/syntastic.git
    ignore = untracked
[submodule "bundle/css3"]
    path = bundle/css3
    url = git://github.com/hail2u/vim-css3-syntax.git
    ignore = untracked
[submodule "bundle/vim-javascript"]
    path = bundle/vim-javascript
    url = git://github.com/pangloss/vim-javascript.git
    ignore = untracked
[submodule "bundle/vim-easymotion"]
    path = bundle/vim-easymotion
    url = https://github.com/Lokaltog/vim-easymotion/
    ignore = untracked
[submodule "bundle/vimwiki"]
    path = bundle/vimwiki
    url = git://github.com/vim-scripts/vimwiki.git
    ignore = untracked
[submodule "bundle/vim-addon-mw-utils"]
    path = bundle/vim-addon-mw-utils
    url = git://github.com/MarcWeber/vim-addon-mw-utils.git
    ignore = untracked
[submodule "bundle/tlib_vim"]
    path = bundle/tlib_vim
    url = git://github.com/tomtom/tlib_vim.git
    ignore = untracked
[submodule "bundle/vim-sbt"]
    path = bundle/vim-sbt
    url = https://github.com/derekwyatt/vim-sbt
    ignore = untracked
[submodule "bundle/sbt-vim"]
    path = bundle/sbt-vim
    url = git://github.com/ktvoelker/sbt-vim.git
    ignore = untracked
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/tyok/ack.vim.git
    ignore = untracked
[submodule "bundle/nerdtree-ack.git"]
	path = bundle/nerdtree-ack.git
	url = git://github.com/tyok/nerdtree-ack.git
    ignore = untracked
[submodule "bundle/LanguageTool"]
	path = bundle/LanguageTool
	url = git://github.com/vim-scripts/LanguageTool.git
    ignore = untracked
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
    ignore = untracked
[submodule "bundle/vim-cython"]
	path = bundle/vim-cython
	url = git://github.com/tshirtman/vim-cython.git
    ignore = untracked
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
    ignore = untracked
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = git://github.com/cakebaker/scss-syntax.vim.git
    ignore = untracked
[submodule "bundle/vim-coffeescript"]
	path = bundle/vim-coffeescript
	url = git://github.com/CITguy/vim-coffee-script.git
    ignore = untracked
[submodule "bundle/vim-jinja2-syntax"]
	path = bundle/vim-jinja2-syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
    ignore = untracked
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git@github.com:bigeagle/molokai.git
    ignore = untracked
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
    ignore = untracked
[submodule "bundle/vim-pinpoint"]
	path = bundle/vim-pinpoint
	url = https://github.com/fmoralesc/vim-pinpoint.git
    ignore = untracked
[submodule "bundle/vim-syntax-extra"]
	path = bundle/vim-syntax-extra
	url = git://github.com/justinmk/vim-syntax-extra.git
    ignore = untracked
[submodule "bundle/vim-jst"]
	path = bundle/vim-jst
	url = git://github.com/briancollins/vim-jst.git
    ignore = untracked
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = git://github.com/wavded/vim-stylus.git
    ignore = untracked
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
    ignore = untracked
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
    ignore = untracked
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
    ignore = untracked
[submodule "bundle/vim-instant-markdown"]
	path = bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
    ignore = untracked
[submodule "bundle/vim-localvimrc"]
	path = bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
    ignore = untracked
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
    ignore = untracked
[submodule "bundle/latex-box"]
	path = bundle/latex-box
	url = git@github.com:LaTeX-Box-Team/LaTeX-Box.git
    ignore = untracked
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
    ignore = untracked
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
    ignore = untracked
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
    ignore = untracked
[submodule "bundle/LeaderF"]
	path = bundle/LeaderF
	url = git@github.com:Yggdroot/LeaderF.git
    ignore = untracked
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
    ignore = untracked
[submodule "bundle/calendar"]
	path = bundle/calendar
	url = git@github.com:mattn/calendar-vim.git
    ignore = untracked
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/vim-pandoc-syntax"]
	path = bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
